@charset "ISO-8859-1";
body {
	#font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/* default is 1rem or 16px */
	font-size: 13px !important;
	font-weight: 400;
	line-height: 1.5;
	height: 100%;
}
 
/* Increase all font sizes on mobile */
@media (max-width: 767px) { 
	body {
		/* default is 1rem or 16px */
		font-size: 16px;
	}
}

.btn, .form-control{
	font-size: 13px;
}

td.highlight-red {
        font-weight: bold !important;
        color: red !important;
    }
td.highlight-red-back {
        font-weight: bold !important;
        background: red !important;
        color:white !important;
    }
   
#latestDataReportTable {  
  width: 100% !important;
  margin: 0 auto;
  clear: both;
  border-collapse: collapse;
  word-wrap:break-word; 
} /*
#latestDataReportTable td,
#latestDataReportTable th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  
} */

.bg-c-green {
    background: -webkit-gradient(linear, left top, right top, from(#0ac282), to(#0df3a3));
    background: linear-gradient(to right, #0ac282, #0df3a3);
}

.m-b-0 {
    margin-bottom: 0px;
}

.bg-c-pink {
    background: -webkit-gradient(linear, left top, right top, from(#fe5d70), to(#fe909d));
    background: linear-gradient(to right, #fe5d70, #fe909d);
}


.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#01a9ac), to(#01dbdf));
    background: linear-gradient(to right, #01a9ac, #01dbdf);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 5px;
}

.card-block {
    padding: 0.7rem;
}

.update-card {
    color: #fff;
}


#latestDataReportTable, #alarmTable {
    font-size : 0.8rem !important;
}
#latestDataReportTable tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
}

#latestDataReportTable td {
    padding: 0.1em 0.1em !important;
    text-overflow: ellipsis;
  	overflow: hidden; 	
  	width: auto !important;  
  text-overflow: ellipsis;
  
}

#latestDataReportTable th {
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
  	width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
  
#alarmTable td {
    padding: 0em 0em !important;
    font-size: 10px;
  }
  
#alarmTable {
  table-layout: fixed;
  width: 100% !important;
  margin: 0 auto;
  clear: both;
  border-collapse: collapse;
  word-wrap:break-word; 
}
#alarmTable td,
#alarmTable th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

.footer-widget {
    height: 100%;
    width: 100%;
}


.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.left5 { margin-left:3px; }

.latest-report-container  {
  overflow-x: auto;  
}

.box {
    padding: 0 5px 0 5px;
     
}
.box .inner {
   background-color:white;
}

table.dataTable tbody tr.selected {
    color: white !important;;
    background-color: #acbad4 !important;;
}

#latestDataReportTable tr:hover {
cursor: pointer;
}


.filter-table{
	margin-bottom : 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
}


.filter-table tr{
	background-color: #347B98;
    border-radius: 5px;
    text-align: center;
    vertical-align: sub;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom : 5px;
	color: #E4F1F6;
}

#main_navbar.navbar{
	background-color : #67AFCB !important;
	color : #1A3E4C !important;
}

#main_navbar.navbar a{
	
	color : #1A3E4C !important;
	font-size: 0.8rem !important;
    font-weight: 500;
}

.datatable-header{
	background-color: #67AFCB;
    color: #1A3E4C;
}

.navbar-toggler{
	color :  #1A3E4C !important;
}

.bootstrap-select .dropdown-menu li a{
	font-size: 0.8rem !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner{
	font-size: 0.7rem !important;
}