@charset "ISO-8859-1";
body {
	#font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/* default is 1rem or 16px */
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
}
 
/* Increase all font sizes on mobile */
@media (max-width: 767px) { 
	body {
		/* default is 1rem or 16px */
		font-size: 16px;
	}
}

.btn, .navbar-brand, .dropdown-menu, .form-control{
	font-size: 13px;
}

td.highlight-red {
        font-weight: bold !important;
        color: red !important;
    }
td.highlight-red-back {
        font-weight: bold !important;
        background: red !important;
        color:white !important;
    }
    
#latestDataReportTable {
  table-layout: fixed;
  width: 100% !important;
  margin: 0 auto;
  clear: both;
  border-collapse: collapse;
  word-wrap:break-word; 
}
#latestDataReportTable td,
#latestDataReportTable th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

#latestDataReportTable td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
#latestDataReportTable tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
}

#latestDataReportTable td {
    padding: .2em .2em !important;
  }